// clrs.cc palette
// Colour
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;

// Monochrome
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

// App-specific palette variables!
$primary-color: var(--primary);
$primary-color-light: var(--primary-light);
$primary-color-dark: var(--primary-dark);

$secondary-color: var(--secondary);
$secondary-color-light: var(--secondary-light);
$secondary-color-dark: var(--secondary-dark);

$bg: var(--bg);
$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);
$disabled-text: var(--disabled-text);
$dividers: var(--dividers);
