.chatwindow {
  width: 100%;
  left: 0px;
}

.logWindow {
  overflow-y: scroll;
  height: 90%;
  position: relative;
}

.sendMessage {
  display: flex;
  bottom: 0;
  margin: 0.5%;
  position: relative;
  color: var(--primary-text);
  height: 8%;
  border-radius: 25px;
  border: 2px solid var(--primary-light);
  justify-content: center;
  align-items: center;
}
#message {
  background-color: var(--bg);
}
