.chatwindow {
  width: 100%;
  min-width: 550px;
  left: 0px;
  overflow-x: auto;
  overflow-y: hidden;
}
.mForm{
  margin-top: 16px;
}
.filter {
  display:flex;
  top:0;
  margin: 0.5%;
  position: relative;
  color: var (--primary-text);
  height: 8%;
  border-radius: 25px;
  border: 2px solid var(--primary-light);
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}
.logWindow {
  overflow-x: auto;
  overflow-y: scroll;
  height: 80%;
  position: relative;
}

.sendMessage {
  display: flex;
  bottom: 0;
  margin: 0.5%;
  position: relative;
  color: var(--primary-text);
  height: 8%;
  border-radius: 25px;
  border: 2px solid var(--primary-light);
  justify-content: center;
  align-items: center;
}
#message {
  background-color: var(--bg);
  color: var(--primary-text);
}
.widthhund {
  width: 100%;
}
// #messagebox {
//   // width: 70%;
//   // display: inline-block;
// }
.mformgroup{
  width:95%;
}
.mcenter{
  justify-content: center;
  align-items: center;
  display: flex;
}
.msubmit{
  width: auto;// despite ide message this does have effect! it stops submit from being 100% width due to react's styling
  display: inline;
}
#more{
  color: var(--primary-text);
  width: 100%;
  text-align: center;
}
// .emojiB {
//   height: 20px;
// }
