.chatwindow {
  width: 100%;
  left: 0px;
}

.logWindow {
  overflow-y: scroll;
  height: 93%;
  position: relative;
}

.sendMessage {
  display: flex;
  bottom: 0;
  margin: 0.5%;
  position: relative;
  color: var(--primary-text);
  height: 5%;
}
.widthhund {
  max-width: 100%;
  min-width: 90%;
}
#messagebox {
  min-width: 50%;
}

.emojiB {
  height: 20px;
}
