.mmessage {
  color: var(--secondary-text);
  border-style: outset;
  border-color: var(--secondary-dark);
  background-color: var(--primary-dark);
  padding: 10px;
  display: inline-block;
  margin: 0px;
  border-radius: 25px;
}
.mmessagetext {
  color: var(--primary-text);
}
.outermessage {
  margin-bottom: 5px;
  margin-left: 5px;
  word-break: break-word;
  display: flow-root;
}

.Prev {
  margin: 5px;
  max-width: 100%;
  max-height: auto;
}
.vid{
  width: auto;// keep vid small to prevent clutter
  height: auto;
}
.mmessage a:link {
  color: var(--secondary-light);
  text-decoration: underline;
}
.mmessage a {
  color: var(--secondary-dark);
  text-decoration: underline;
}

.time {
  font-size: 50%;
  color: var(--disabled-text)s;
}
