.mmessage {
  color: var(--secondary-text);
  border-style: outset;
  border-color: var(--secondary-dark);
  background-color: var(--primary-dark);
  padding: 5px;
  display: inline-block;
  margin: 0px;
}
.mmessagetext {
  color: var(--primary-text);
}
.outermessage {
  margin-bottom: 5px;
  margin-left: 5px;
  word-break: break-word;
}

.imgPrev {
  margin: 5px;
  max-width: 90%;
  max-height: auto;
}
.mmessage a:link {
  color: var(--secondary-light);
  text-decoration: underline;
}
.mmessage a {
  color: var(--secondary-dark);
  text-decoration: underline;
}

.time {
  font-size: 50%;
  color: var(--disabled-text)s;
}
