.titlebar {
  margin: 0;
  color: $white;
}
.titlebar,
.titlebar-maximize,
.titlebar-minimize,
.titlebar-close {
  background-color: $black;
}
.titlebar.webkit-draggable {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}

.titlebar-stoplight {
  float: right;
}

.titlebar:after,
.titlebar-stoplight:after {
  content: ' ';
  display: table;
  clear: both;
}

.titlebar-stoplight:hover,
.titlebar-close {
  background-position: -26px 0;
}

.titlebar-maximize,
.titlebar-minimize,
.titlebar-close {
  float: left;
  width: 30px;
  height: 20px;
}
.titlebar-maximize:hover,
.titlebar-close:hover,
.titlebar-minimize:hover {
  background-color: $red;
}

.titlebar-close:after {
  content: '✖';
  color: white;
  position: absolute;
  font-size: 15px;
  top: -2px;
  left: 6px;
}

.titlebar-minimize {
  border-color: white;
  padding-bottom: 5px;
}
.titlebar-minimize:after {
  content: '―';
  color: white;
  position: absolute;
  font-size: 15px;
  top: -2px;
  left: 7px;
}

.titlebar-maximize:after {
  content: '☐';
  color: white;
  position: absolute;
  font-size: 15px;
  top: -2px;
  left: 9px;
}

.titlebar.webkit-draggable .titlebar-close,
.titlebar.webkit-draggable .titlebar-minimize,
.titlebar.webkit-draggable .titlebar-maximize {
  -webkit-app-region: no-drag;
}

.titlebar-close {
  position: relative;
}

.titlebar-maximize {
  position: relative;
}

.titlebar-minimize {
  position: relative;
}

.titlebar-close:active::after,
.titlebar-minimize:active::after,
.titlebar-maximize:active::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.titlebar-children {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
